<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@200&family=Lato:wght@300&display=swap');
    </style>
    <title>Three.js</title>
</head>

<body>
    <section>
        <article>
            <h1 class="heading1"><%= heading %></h1>
            <h1 class="subheading1"><%= subHeading %></h1>
        </article>
    </section>
    
    <script src="/main.js"></script>
</body>
</html>